{# templates/base.html #}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome para iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM9d9i3X2L+0G/oRaZPf/MG3PeD6G3S6/7Okh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM9d9i3X2L+0G/oRaZPf/MG3PeD6G3S6/7Okh" crossorigin="anonymous">





</head>
<style>
    .card {
        background-color: #343a40;
        /* Fondo de tarjeta oscuro */
        border: none;
        border-radius: 12px;
        transition: transform 0.2s ease-in-out;
    }

    body {
        background-color: #212529;
        /* Fondo oscuro */
        color: #f8f9fa;
        /* Texto claro */
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }
</style>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand d-flex align-items-center" href="{% url 'ventas_index' %}">
                <i class="fas fa-store me-2"></i> ARROYO
            </a>

            <!-- Toggle button for mobile view -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <!-- Left-aligned Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ventas_mes' %}">
                            <i class="fas fa-chart-line"></i> Ingresos por Mes
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="comprasDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-box"></i> Ventas de Productos
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="comprasDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'producto_detalle' %}">
                                    VENTAS GENERAL 
                                </a>
                            </li>
                            <!--<li>
                                <a class="dropdown-item" href="{% url 'producto_venta_compra' %}">
                                    COMPRAS Y VENTA
                                </a>
                            </li>-->
                            
                        </ul>

                        
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="comprasDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-box"></i> Compras
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="comprasDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'compras' %}">
                                    <i class="fas fa-info-circle"></i> Detalles de Compras
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'compras_proveedor' %}">
                                    <i class="fas fa-chart-bar"></i> Reporte de Compras proveedor
                                </a>
                            </li>
                            <!--<li>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-truck"></i> Proveedores
                                </a>
                            </li>-->
                        </ul>
                    </li>

                </ul>

                <!-- Right-aligned Links (e.g., User Profile) -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user-circle"></i> Perfil
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- Main Content -->
    <div class="container-fluid">

        <div class="row mb-4">
            <div class="col-md-12 text-center">
                <h1 class="display-4">PESCADOS Y MARISCOS ARROYO</h1>

            </div>
        </div>

        {% block content %}
        <!-- Contenido específico de cada vista -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span>© 2024 <a href="#">lerco</a>. Todos los derechos reservados.</span>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>